﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Customers Report</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="text" class="form-control" id="searchText" placeholder="Enter Company Name">
    </div>
    <div class="col-md-3">
        <button type="button" id="btnSearch" class="btn btn-raised btn-primary btn-block">Get Report</button>
    </div>
</div>

<div class="row" id="divReport">

</div>

<script>

    $(function () {
        $('#btnSearch').click(function () {

            var searchText = $("#searchText").val();

            //ASPX page URL to load report
            var src = '../Reports/CustomerReport.aspx?';
            //We can add parameters here
            src = src + "searchText=" + searchText

            //We can append more than one parameter like below
            //var companyId = 1
            //src = src + "compnayID=" + companyId

            //Create a dynamic iframe here and append this to div tag
            var iframe = '<iframe id="reportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
            $("#divReport").html(iframe);
        });
    });

</script>  